In [65]:
!pip install autoscraper

In [73]:
from autoscraper import AutoScraper

url = 'https://getlatka.com/'

# We can add one or multiple candidates here.
# You can also put urls here to retrieve urls.
wanted_list = ["Inflectra","$10m","Revenue","Gejza Nagy","Excellent list of SaaS companies","Great content! Outstanding stuff for B2B SaaS founders",
               "sales and marketing, growth teams.","Find your next deal or partnership","Our Most Popular SaaS Reports","Top Bootstrapped Founders"
              ,"Total Companies","24K","Combined Revenue","$145.5B","Combined Employees","2M","ANSWERS QUESTIONS LIKE...",
               "Which disruptive SaaS companies should keep on my radar?","Total Raised","ACTIONABLE DATA","Who is our next customer?",
               "You can tell the guys who are faking it and who aren’t. Latka is the real deal. We’ve used the data to identify SaaS companies who could be potential customers of ZoomInfo and also to find M&A targets.",
               "Henry Schuck","CEO at ZoomInfo","Industry","Largest CRM Companies","Largest E-Commerce Companies","Largest Analytics Software Companies",
               "Largest AI Software Companies","Largest Talent Management Companies","Product","Churn","Customer acquisition cost","Average contract values",
               "Discover","Magazine","Book","Partners","A SaaS Database Built From 3,091 Manual CEO Interviews","Revenue, valuation, and customer data on SaaS companies built from founder audio clips. Now over 30k SaaS founders share data with Latka."]

scraper = AutoScraper()
result = scraper.build(url, wanted_list)
print(result)

['Inflectra', 'ConvertKit', 'Wistia', 'Coro', 'HiverHq', 'Ziwo', 'Newsifier', 'SalesPanda', 'LegitCheck', 'SumSub', 'Reviews.io', 'Expandi', 'Gejza Nagy', 'Ale Arg', 'Excellent list of SaaS companies', 'Awesome content for B2B SaaS founders', 'Discover the fastest growing SaaS companies', 'Find your next deal or partnership', 'Spot trends and respond to disruption', 'Our Most Popular SaaS Reports', 'Top Bootstrapped Founders', 'Fastest Growing', 'CEO Salaries', 'Unicorn List', 'Total Companies', '24K', '500', '1000', '387', 'Combined Revenue', '$145.5B', '$12.6B', '$34.78B', '$55.8B', 'Combined Employees', '2M', '31K', '201K', '585K', 'Which disruptive SaaS companies should keep on my radar?', 'Total Raised', 'ACTIONABLE DATA', 'Who is our next customer?', 'You can tell the guys who are faking it and who aren’t. Latka is the real deal. We’ve used the data to identify SaaS companies who could be potential customers of ZoomInfo and also to find M&A targets.', 'I love the Latka database. We use it for sourcing top deals and getting smarter about Founders. The data just doesn’t exist in other platforms we look at like Crunchbase, Pitchbook, and SourceScrub.', 'I’m trying to scale from $5M in ARR up past $10M in ARR and ran out of ideas. We use Latka data to get new ideas on growth channels, churn benchmarks, and cash flow analysis of others in our space.', 'Henry Schuck', 'Adam O’Donnel', 'Saravana Kumar', 'CEO at ZoomInfo', 'VC at Mighty Capital', 'CEO at Kovai.co', 'Industry', 'Countries', 'Cities', 'Largest CRM Companies', 'Top SaaS Companies NYC', 'United States', 'San Francisco', 'SaaS Founders Who Make The Most Revenue Per Employee', 'Largest E-Commerce Companies', 'Top SaaS Companies SF', 'Canada', 'New York', 'Salaries of Top SaaS Founders', 'Largest Analytics Software Companies', 'Top Countries', 'United Kingdom', 'Boston', 'The Current Y Combinator Batch', 'Largest AI Software Companies', 'Top Cities', 'India', 'London', 'Top Capital Efficient SaaS Founders', 'Largest Talent Management Companies', 'France', 'Toronto', 'Top Bootstrapped SaaS Companies', 'Product', 'Resource', 'Our Data', 'Churn', 'Blog', 'Pricing', 'Customer acquisition cost', 'Newsletter', 'Average contract values', 'Podcasts', 'Magazine', 'Book', 'Partners', 'A SaaS Database Built From 3,091 Manual CEO Interviews', 'Revenue, valuation, and customer data on SaaS companies built from founder audio clips. Now over 30k SaaS founders share data with Latka.']

In [74]:
scraper.get_result_similar("https://getlatka.com/",grouped=True)

{'rule_bty7': ['Inflectra',
  'ConvertKit',
  'Wistia',
  'Coro',
  'HiverHq',
  'Ziwo',
  'Newsifier',
  'SalesPanda',
  'LegitCheck',
  'SumSub',
  'Reviews.io',
  'Expandi'],
 'rule_l047': ['Gejza Nagy', 'Ale Arg'],
 'rule_4frn': ['Gejza Nagy', 'Ale Arg'],
 'rule_wwin': ['Excellent list of SaaS companies',
  'Awesome content for B2B SaaS founders'],
 'rule_l2k4': ['Discover the fastest growing SaaS companies',
  'Find your next deal or partnership',
  'Spot trends and respond to disruption'],
 'rule_iiwh': ['Our Most Popular SaaS Reports'],
 'rule_9zbj': ['Top Bootstrapped Founders',
  'Fastest Growing',
  'CEO Salaries',
  'Unicorn List'],
 'rule_2z37': ['Total Companies',
  'Total Companies',
  'Total Companies',
  'Total Companies'],
 'rule_7c3c': ['Total Companies',
  'Total Companies',
  'Total Companies',
  'Total Companies'],
 'rule_4epi': ['Total Companies',
  'Total Companies',
  'Total Companies',
  'Total Companies'],
 'rule_j0o1': ['Total Companies',
  'Total Companies',
  'Total Companies',
  'Total Companies'],
 'rule_ngn0': ['24K', '500', '1000', '387'],
 'rule_wz9t': ['Combined Revenue',
  'Combined Revenue',
  'Combined Revenue',
  'Combined Revenue'],
 'rule_lgst': ['Combined Revenue',
  'Combined Revenue',
  'Combined Revenue',
  'Combined Revenue'],
 'rule_8ulv': ['Combined Revenue',
  'Combined Revenue',
  'Combined Revenue',
  'Combined Revenue'],
 'rule_iwjc': ['Combined Revenue',
  'Combined Revenue',
  'Combined Revenue',
  'Combined Revenue'],
 'rule_yx60': ['$145.5B', '$12.6B', '$34.78B', '$55.8B'],
 'rule_7ret': ['Combined Employees',
  'Combined Employees',
  'Combined Employees',
  'Combined Employees'],
 'rule_feej': ['Combined Employees',
  'Combined Employees',
  'Combined Employees',
  'Combined Employees'],
 'rule_bn1y': ['Combined Employees',
  'Combined Employees',
  'Combined Employees',
  'Combined Employees'],
 'rule_xmw1': ['Combined Employees',
  'Combined Employees',
  'Combined Employees',
  'Combined Employees'],
 'rule_tyou': ['2M', '31K', '201K', '585K'],
 'rule_pzwu': ['Which disruptive SaaS companies should keep on my radar?'],
 'rule_jy5y': ['Total Raised', 'Total Raised', 'Total Raised', 'Total Raised'],
 'rule_bn5q': ['Total Raised', 'Total Raised', 'Total Raised', 'Total Raised'],
 'rule_5sqe': ['Total Raised', 'Total Raised', 'Total Raised', 'Total Raised'],
 'rule_n357': ['Total Raised', 'Total Raised', 'Total Raised', 'Total Raised'],
 'rule_y96e': ['ACTIONABLE DATA'],
 'rule_r13a': ['Who is our next customer?'],
 'rule_683p': ['You can tell the guys who are faking it and who aren’t. Latka is the real deal. We’ve used the data to identify SaaS companies who could be potential customers of ZoomInfo and also to find M&A targets.',
  'I love the Latka database. We use it for sourcing top deals and getting smarter about Founders. The data just doesn’t exist in other platforms we look at like Crunchbase, Pitchbook, and SourceScrub.',
  'I’m trying to scale from $5M in ARR up past $10M in ARR and ran out of ideas. We use Latka data to get new ideas on growth channels, churn benchmarks, and cash flow analysis of others in our space.'],
 'rule_siv7': ['Henry Schuck', 'Adam O’Donnel', 'Saravana Kumar'],
 'rule_63jl': ['Henry Schuck', 'Adam O’Donnel', 'Saravana Kumar'],
 'rule_kn61': ['CEO at ZoomInfo', 'VC at Mighty Capital', 'CEO at Kovai.co'],
 'rule_0k8a': ['Industry', 'Countries', 'Cities'],
 'rule_uwo0': ['Largest CRM Companies',
  'Top SaaS Companies NYC',
  'United States',
  'San Francisco',
  'SaaS Founders Who Make The Most Revenue Per Employee'],
 'rule_rtpl': ['Largest E-Commerce Companies',
  'Top SaaS Companies SF',
  'Canada',
  'New York',
  'Salaries of Top SaaS Founders'],
 'rule_x93e': ['Largest Analytics Software Companies',
  'Top Countries',
  'United Kingdom',
  'Boston',
  'The Current Y Combinator Batch'],
 'rule_w9tc': ['Largest AI Software Companies',
  'Top Cities',
  'India',
  'London',
  'Top Capital Efficient SaaS Founders'],
 'rule_xl7w': ['Largest Talent Management Companies',
  'Top Cities',
  'France',
  'Toronto',
  'Top Bootstrapped SaaS Companies'],
 'rule_w46t': ['Product', 'Resource', 'Our Data'],
 'rule_ulpl': ['Churn', 'Blog', 'Pricing'],
 'rule_hd0v': ['Customer acquisition cost', 'Newsletter', 'Pricing'],
 'rule_j6j2': ['Average contract values', 'Podcasts', 'Pricing'],
 'rule_24h5': ['Average contract values', 'Magazine', 'Pricing'],
 'rule_u0je': ['Average contract values', 'Book', 'Pricing'],
 'rule_kyi9': ['Average contract values', 'Partners', 'Pricing'],
 'rule_hayi': ['A SaaS Database Built From 3,091 Manual CEO Interviews'],
 'rule_d64c': ['Revenue, valuation, and customer data on SaaS companies built from founder audio clips. Now over 30k SaaS founders share data with Latka.']}

**This is website/ blog data but i have good knowledge on extraxting/ parsing data from shopping cart/ housing/ranatal sites, here is the example**

**Website link:<a href="/https://www.pararius.com/apartments/amsterdam?ac=1"> click here</a>**

In [79]:
from bs4 import BeautifulSoup
import requests
from csv import writer

url= "https://www.pararius.com/apartments/amsterdam?ac=1"
page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')
lists = soup.find_all('section', class_="listing-search-item")

with open('housing.csv', 'w', encoding='utf8', newline='') as f:
    thewriter = writer(f)
    header = ['Title','Sub_Title' ,'Location', 'Rooms', 'Area']
    thewriter.writerow(header)

    for list in lists:
        title = list.find('a', class_="listing-search-item__link--title").text.replace('\n', '')
        sub_title = list.find('div', class_="listing-search-item__sub-title").text.replace('\n', '')
        loc = list.find('div', class_="listing-search-item__price").text.replace('\n', '')
        rooms = list.find('li', class_="illustrated-features__item illustrated-features__item--number-of-rooms").text.replace('\n', '')
        area = list.find('li', class_="illustrated-features__item illustrated-features__item--surface-area").text.replace('\n', '')
      
        
        info = [title,sub_title, loc, rooms, area]
        thewriter.writerow(info)

In [80]:
import pandas as pd
df=pd.read_csv("/content/housing.csv")
df

,Title,Sub_Title,Location,Rooms,Area
0,Apartment Hoofdweg ...,1058 BC Amsterdam (Westindische Bu...,"€3,000 per month",6 rooms,155 m²
1,Apartment Juliana van ...,1055 RM Amsterdam (Landlust),"€1,750 per month",3 rooms,52 m²
2,Apartment Sarphatipark...,1073 CX Amsterdam (Oude Pijp),"€1,850 per month",3 rooms,70 m²
3,Apartment Nieuwe Vijze...,1017 HT Amsterdam (De Weteringscha...,"€2,350 per month",2 rooms,80 m²
4,Apartment Bosboom Tous...,1054 AV Amsterdam (Helmersbuurt) ...,"€1,950 per month",4 rooms,70 m²
5,Apartment Singel ...,1015 AG Amsterdam (Grachtengordel-...,"€4,000 per month",3 rooms,108 m²
6,Apartment Olympiaplein...,1077 CP Amsterdam (Apollobuurt) ...,"€3,250 per month",4 rooms,121 m²
7,Apartment Bella Vistas...,1096 GM Amsterdam (Omval/Overamste...,"€3,000 per month",4 rooms,113 m²
8,Apartment Prinseneilan...,1013 LL Amsterdam (Haarlemmerbuurt...,"€3,000 per month",3 rooms,94 m²
9,Apartment Montelbaanst...,1011 EG Amsterdam (Nieuwmarkt/Last...,"€2,250 per month",4 rooms,86 m²
10,Apartment Van Leijenbe...,1082 GD Amsterdam (Buitenveldert-O...,"€2,175 per month",4 rooms,113 m²
11,Apartment Kerkstraat ...,1017 HW Amsterdam (Grachtengordel-...,"€5,000 per month",3 rooms,120 m²
12,Apartment Geuzenstraat...,1056 KA Amsterdam (Geuzenbuurt) ...,"€1,950 per month",3 rooms,55 m²
13,Studio Uiterwaardenstr...,1079 CE Amsterdam (Rijnbuurt),"€1,449 per month",1 room,37 m²
14,Apartment Fokke Simons...,1017 TK Amsterdam (De Weteringscha...,"€1,800 per month",2 rooms,44 m²
15,Apartment Bestevâerstr...,1055 TK Amsterdam (Landlust),"€1,750 per month",2 rooms,60 m²
16,Apartment Nassaukade 3...,1054 AC Amsterdam (Helmersbuurt) ...,"€1,950 per month",2 rooms,70 m²
17,Apartment Beemsterstra...,1024 BV Amsterdam (Waterlandpleinb...,€995 per month,2 rooms,66 m²
18,Apartment Marie Heinek...,1072 ML Amsterdam (Oude Pijp),"€2,500 per month",3 rooms,90 m²
19,Apartment Stadhoudersk...,1073 AV Amsterdam (Oude Pijp),"€2,400 per month",3 rooms,65 m²
20,Apartment Westerdoksdi...,1013 AD Amsterdam (Haarlemmerbuurt...,"€2,250 per month",3 rooms,69 m²
21,Apartment Curaçaostraa...,1058 BN Amsterdam (Westindische Bu...,"€2,100 per month",3 rooms,59 m²
22,Apartment Cornelis Ver...,1018 RN Amsterdam (Oostelijke Eila...,"€2,200 per month",3 rooms,75 m²
23,Apartment Wilhelminast...,1054 WJ Amsterdam (Helmersbuurt) ...,"€2,250 per month",3 rooms,51 m²
24,Apartment Bolestein 39...,1081 EG Amsterdam (Buitenveldert-W...,"€1,950 per month",3 rooms,93 m²
25,Apartment Eerste Nassa...,1052 BH Amsterdam (Staatsliedenbuu...,"€2,600 per month",3 rooms,100 m²
26,Apartment Brachthuijze...,1075 EN Amsterdam (Willemspark) ...,"€2,200 per month",3 rooms,80 m²
27,Apartment Govert Flinc...,1072 EL Amsterdam (Oude Pijp),"€2,450 per month",3 rooms,91 m²
28,Apartment Wilhelminast...,1054 VX Amsterdam (Overtoomse Slui...,"€2,750 per month",3 rooms,125 m²
29,Apartment Amstelveense...,1081 JN Amsterdam (Buitenveldert-W...,"€3,000 per month",3 rooms,99 m²
30,Apartment Keizersgrach...,1015 CN Amsterdam (Grachtengordel-...,"€2,800 per month",3 rooms,109 m²

# **<center>THANK YOU**